.table>tbody>tr>td {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
  font-family: monospace;
  white-space: nowrap;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top:4px !important;
  padding-bottom:0 !important;
  height: 32px;
}

.navbar {
  min-height:32px !important;
  margin-bottom: 0px;
}

.navbar-text, .navbar-form {
  margin-top: 4px;
  margin-bottom: 4px;
}

#max-on-screen, #search{
  padding: 0px 4px;
  height: 24px;
}

#main-container {
  position: relative;
  top: 30px;
}

#log-message {
  white-space: normal;
}
